.intro{ 
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.video{
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(50%);
  overflow: hidden;
  position: relative;
}
.videoContent{
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  position:absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: aqua; */
  overflow:hidden;
}
.videoHead{
  font-size: 10rem;
  font-family: "Share Tech";
}
.videoDesc{
  font-size: 2rem;
  /* font-family: "Share Tech"; */
  font-style: italic;
  margin-top: 1rem;
}
.videoArc{
  font-size: 5rem;
  font-family: "Share Tech";
}
.howTo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: max-content;
}
.howHeader{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.steps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: max-content;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30rem;
  height: max-content;
  padding-bottom: 1rem;
  border-radius: 2rem;
  box-shadow:  0rem 0.5rem 1rem rgb(94, 94, 94);
  margin-left: 3rem;
  margin-right: 3rem;
}
.img{
  height: 45%;
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.stepContent{
  margin-top: 2rem;
  width: 90%;
  height: 55%;
}
.stepHead{
  margin-bottom: 1rem;
}
.scheduler{
  width: 50%;
  text-align: left;
  border: 0.2rem solid black;
  border-radius: 1rem;
}
.tableRow{
  height: 3rem;
  border: 0.2rem solid black;
}
.data{
  border-bottom: 0.2rem solid black;
}
.datak{
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}
.datafk{
  border-right: 0.2rem solid black;
}
@media (max-width: 1298px) {
  .videoContent{
    transform: translate(0%, -20%);
  }
  .videoHead {
    font-size: 6rem;
  }

  .videoDesc {
    font-size: 1.6rem;
  }

  .videoArc {
    font-size: 3.5rem;
  }
}

@media (max-width: 988px) {
  .videoContent{
    transform: translate(0%, -25%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 780px) {
  .videoContent{
    transform: translate(0%, -30%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 508px) {
  .videoContent{
    transform: translate(0%, -38%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 351px) {
  .videoContent{
    transform: translate(0%, -40%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 280px) {
  .videoContent{
    transform: translate(0%, -42%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 205px) {
  .videoContent{
    transform: translate(0%, -43%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 160px) {
  .videoContent{
    transform: translate(0%, -44%);
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}