.intro{ 
  width: 100%;
  height: 32rem;
  overflow: hidden;
  position: relative;
  /* border-bottom-left-radius: 30rem;
  border-bottom-right-radius: 30rem,30rem; */
  border-radius: 0 0 20% 20%/ 0 0 80% 80%;
} 
.intro::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(6, 13, 157, 0.2),rgba(189, 9, 177, 0.3));
  border-radius: 0 0 20% 20%;
}
.banner{
  height: 100%;
  width: 100%;
}
.video{
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(80%);
  overflow: hidden;
  position: relative;
}
.videoContent{
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  position:absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: aqua; */
  overflow:hidden;
}
.videoHead{
  font-size: 10rem;
  font-family: "Share Tech";
}
.videoDesc{
  font-size: 2rem;
  /* font-family: "Share Tech"; */
  font-style: italic;
  margin-top: 1rem;
}
.videoArc{
  font-size: 5rem;
  font-family: "Share Tech";
}
.howTo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  height: max-content;
}
.instructionPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  height: max-content;
  color: white;
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  background-image:linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
  /* border-radius: 0 0 50% 50%/ 0 0 80% 80%; */
}
.path1{
  rotate:180deg;
  margin-top:"5rem";
  background-image:linear-gradient(to right, rgba(189, 9, 177),rgba(6, 13, 157));
}
.path2{
  background-image:linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
}
.howHeader{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.steps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  height: max-content;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30rem;
  height: max-content;
  padding-bottom: 1rem;
  border-radius: 2rem;
  box-shadow:  0rem 0.5rem 1rem rgba(6, 13, 157,0.7);
  margin-left: 3rem;
  margin-right: 3rem;
  transition: all .2s ease-out ;
}
.card:hover{
  box-shadow:  0rem 1rem 1.4rem rgba(189, 9, 177);
}
.card:hover .stepHead{
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s ease-out;
  /* text-shadow: 0 0 0.5rem #00ff00, 0 0 .5rem #00ff00, 0 0 0.5rem #00ff00; */
}
.imgCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  position:relative;
  /* position:relative; */
}
.imgCont::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; 
    height: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background: linear-gradient(rgba(66, 0, 48, 0.4),rgba(0, 0, 0, 0.0));
}
.img{
  width: 100%;
  height: auto;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%); */
}
.stepContent{
  margin-top: 2rem;
  width: 90%;
  height: 55%;
}
.stepHead{
  margin-bottom: 1rem;
  transition: all 0.2s ease-out;
}
.scheduler{
  width: 50%;
  text-align: left;
  border: 0.2rem solid black;
  border-radius: 1rem;
}
.descLink{
  width: max-content;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  margin-top: 0.8rem;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
}
.table{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width:70%;
  height: max-content;
  border: 0.3rem solid black;
  border-radius: 3rem;
  font-size:1.2rem;
}
.headRow{
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: 100%;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
  color: white;
  font-weight: 500 ;
  border-radius: 2.5rem 2.5rem 0 0;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
}
.headData{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;

}
.data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
/* .tableRow{
  height: 3rem;
  border: 0.2rem solid black;
} */
/* .data{
  padding-left: 0.5rem;
  border-bottom: 0.2rem solid black;
}
.datak{
  padding-left: 0.5rem;
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}
.datah{
  padding-left: 0.5rem;
  border-bottom: 0.2rem solid black;
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
  color: white;
  border-top-right-radius: 1rem;
}
.datakh{
  padding-left: 0.5rem;
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  color: white;
  border-top-left-radius: 1rem;
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
}
.datafk{
  padding-left: 0.5rem;
  border-right: 0.2rem solid black;
}
.dataf{
  padding-left: 0.5rem;
} */
@media (max-width: 1298px) {
  .videoContent{
    /* transform: translate(0%, -12%); */
  }
  .videoHead {
    font-size: 6rem;
  }

  .videoDesc {
    font-size: 1.6rem;
  }

  .videoArc {
    font-size: 3.5rem;
  }
  
}

@media (max-width: 988px) {
  .videoContent{
    /* transform: translate(0%, -25%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 780px) {
  .videoContent{
    /* transform: translate(0%, -28%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 508px) {
  .videoContent{
    /* transform: translate(0%, -38%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
  .steps{
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin-bottom: 2rem;
  }
  /* .banner{
    height: 18rem;
  } */
}
.container{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 60%;
  /* background-color: aqua; */
}
.contHead{
  width: 100%;
  margin-bottom: 1rem;
}
.entry{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  border-left: 0.2rem solid rgb(0, 0, 0);
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: white;
}
.hre{
  border-color: black;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 351px) {
  .videoContent{
    /* transform: translate(0%, -28%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
  .instructions{
    width: 50%;
  }
}
@media (max-width: 230px) {
  .videoContent{
    /* transform: translate(0%, -32%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
  .banner{
    height: 15rem;
  }
}
@media (max-width: 205px) {
  .videoContent{
    /* transform: translate(0%, -35%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 185px) {
  .videoContent{
    /* transform: translate(0%, -38%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}
@media (max-width: 150px) {
  .videoContent{
    /* transform: translate(0%, -40%); */
  }
  .videoHead {
    font-size: 5.5rem;
  }

  .videoDesc {
    font-size: 1.4rem;
  }

  .videoArc {
    font-size: 3rem;
  }
}