.intro{
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.video{
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(50%);
  overflow: hidden;
}
.videoContent{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  color: white;
  overflow:hidden;
}
.videoHead{
  font-size: 10rem;
  font-family: "Share Tech";
}
.videoDesc{
  font-size: 2rem;
  /* font-family: "Share Tech"; */
  font-style: italic;
}
.videoArc{
  font-size: 5rem;
  font-family: "Share Tech";
}
.howTo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: max-content;
}
.howHeader{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.steps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: max-content;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  height: 40rem;
  border-radius: 2rem;
  box-shadow:  0rem 0.5rem 1rem rgb(94, 94, 94);
  margin-left: 3rem;
  margin-right: 3rem;
}
.img{
  height: 45%;
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.stepContent{
  margin-top: 2rem;
  width: 90%;
  height: 55%;
}
.stepHead{
  margin-bottom: 1rem;
}