/* .resultsPlaceHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
} */
.decInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.howHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.placeHolder{
    width: 80%;
    height: 80%;
    display: flex;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: gainsboro; */
    font-size: 2rem;
    border-radius: 3rem;
    color: white;
    background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
}
.scoreSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;

    width: 100%;
    /* margin-top: 3rem; */
    margin-bottom: 5rem;
}
.scoreBoard{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 3rem;
    box-shadow: 0rem 0.5rem 1rem rgb(94, 94, 94);
}
.top3{
    width: 50%;
    height: auto;
}
.headRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to right, rgba(6, 13, 157),rgba(189, 9, 177));
}
.headers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100%;
}
.scoreRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
}
@media (max-width: 500px){
    .headers{
        font-size: 0.8rem;
    }

    .score{
      font-size: 0.8rem;
    }
  }
@media (max-width: 400px){
    /* .score{
      font-size: 0.7rem;
    }
    
    .headers{
        font-size: 0.7rem;
    } */
  }